USE [GoodsKpop]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/4/2023 6:31:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[categoryId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [description], [price], [quantity], [image], [categoryId]) VALUES (2, N'
(Poster gift) GQ May 2023(ROSÉ) - Type A
', N'
[YG SELECT free gift]
Cover Image A3 Size (300×400) Poster
* 1:1 payment according to purchase quantity
* Air cap packaging (not tube packaging)
', 72.9, 40, N'
https://cafe24img.poxo.com/ygnext/web/product/big/202305/4408f1e67aaf423cc7f2a2878f1029d0.jpg
', 4)
INSERT [dbo].[Product] ([id], [name], [description], [price], [quantity], [image], [categoryId]) VALUES (4, N'
(Poster gift) GQ May 2023(ROSÉ) - Type B
', N'
[YG SELECT free gift]
Cover Image A3 Size (300×400) Poster
* 1:1 payment according to purchase quantity
* Air cap packaging (not tube packaging)

', 47.8, 99, N'
https://cafe24img.poxo.com/ygnext/web/product/big/202305/d95cc760b783016b5d7d01a9703baa1c.jpg
', 4)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
